In [1]:
# Import library
import pandas  as pd #Data manipulation
import numpy as np #Data manipulation
import matplotlib.pyplot as plt # Visualization
import seaborn as sns #Visualization
plt.rcParams['figure.figsize'] = [8,5]
plt.rcParams['font.size'] =14
plt.rcParams['font.weight']= 'bold'
plt.style.use('seaborn-whitegrid')

In [2]:
# Import dataset
# The happiness data files 2021 and trending
happiness_t_file= "Data/world-happiness-report-clean.csv" #checked
happiness_file = "Data/world-happiness-report-2021-clean.csv" #checked
covid_data = "Data/kaggle-covid/worldometer_data_test.csv" #checked
screen_time = "Data/Clean_Average_Screen_Time_per_Country_2021_clean.csv" #checked
population_density = "Data/Country_Population_Land_Area_Density_clean.csv" #checked
alcohol_consumption = "Data/alcohol_consumption_bycountry-clean.csv" #checked
meat_consumption = "Data/Meat_consumption_clean.csv" #checked
median_age = "Data/Median_age_clean.csv" #checked
suicide_rate = "Data/Suicide_rate_clean.csv" #checked

In [3]:
# Convert datasets to dataframes
happiness_t_file_df = pd.read_csv(happiness_t_file)
happiness_file_2021_df = pd.read_csv(happiness_file)
covid_data_df = pd.read_csv(covid_data)
screen_time_df = pd.read_csv(screen_time)
population_density_df = pd.read_csv(population_density)
alcohol_consumption_df = pd.read_csv(alcohol_consumption)
meat_consumption_df = pd.read_csv(meat_consumption)
median_age_df = pd.read_csv(median_age)
suicide_rate_df = pd.read_csv(suicide_rate)

# Clean happiness_t_file_df

In [4]:
happiness_t_file_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Positive_Affect,Negative_affect
0,Afghanistan,2008,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [5]:
#rename columns in happiness_t_file dataframe
happiness_t_file_df.rename(columns = {'Country name': 'Country_Name'}, inplace = True)
happiness_t_file_df.rename(columns = {'Regional indicator': 'Regional_Indicator'}, inplace = True)
happiness_t_file_df.rename(columns = {'Life Ladder': 'Ladder_Score'}, inplace = True)
happiness_t_file_df.rename(columns = {'Log GDP per capita': 'Logged_GDP_per_Capita'}, inplace = True)
happiness_t_file_df.rename(columns = {'Healthy life expectancy at birth': 'Healthy_Life_Expectancy'}, inplace = True)
happiness_t_file_df.rename(columns = {'Freedom to make life choices': 'Freedom_to_make_life_choices'}, inplace = True)
happiness_t_file_df.rename(columns = {'Perceptions of corruption': 'Perceptions_of_corruption'}, inplace = True)
happiness_t_file_df.rename(columns = {'Positive affect': 'Positive_Affect'}, inplace = True)
happiness_t_file_df.rename(columns = {'Negative affect': 'Negative_affect'}, inplace = True)

In [6]:
happiness_t_file_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Positive_Affect,Negative_affect
0,Afghanistan,2008,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [7]:
# View column names in happiness_t_file_df
list(happiness_t_file_df)

['Country_Name',
 'year',
 'Regional_Indicator',
 'Ladder_Score',
 'Logged_GDP_per_Capita',
 'Social support',
 'Healthy_Life_Expectancy',
 'Freedom_to_make_life_choices',
 'Generosity',
 'Perceptions_of_corruption',
 'Positive_Affect',
 'Negative_affect']

# Clean happiness_file_2021_df dataframe

In [8]:
happiness_file_2021_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,...,Generosity,Perceptions_of_corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,2021,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,...,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,2021,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,...,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,2021,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,...,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,2021,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,...,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,2021,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,...,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [9]:
# rename column names
happiness_file_2021_df.rename(columns = {'Country name': 'Country_Name'}, inplace = True)
happiness_file_2021_df.rename(columns = {'Regional indicator': 'Regional_Indicator'}, inplace = True)
happiness_file_2021_df.rename(columns = {'Ladder score': 'Ladder_Score'}, inplace = True)
happiness_file_2021_df.rename(columns = {'Logged GDP per capita': 'Logged_GDP_per_Capita'}, inplace = True)
happiness_file_2021_df.rename(columns = {'Healthy life expectancy': 'Healthy_Life_Expectancy'}, inplace = True)
happiness_file_2021_df.rename(columns = {'Freedom to make life choices': 'Freedom_to_make_life_choices'}, inplace = True)
happiness_file_2021_df.rename(columns = {'Perceptions of corruption': 'Perceptions_of_corruption'}, inplace = True)

In [10]:
happiness_file_2021_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,...,Generosity,Perceptions_of_corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,2021,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,...,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,2021,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,...,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,2021,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,...,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,2021,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,...,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,2021,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,...,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [11]:
#View all column names
list(happiness_file_2021_df)

['Country_Name',
 'year',
 'Regional_Indicator',
 'Ladder_Score',
 'Standard error of ladder score',
 'upperwhisker',
 'lowerwhisker',
 'Logged_GDP_per_Capita',
 'Social support',
 'Healthy_Life_Expectancy',
 'Freedom_to_make_life_choices',
 'Generosity',
 'Perceptions_of_corruption',
 'Ladder score in Dystopia',
 'Explained by: Log GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption',
 'Dystopia + residual']

In [12]:
# combine both happiness scores datasets
happiness_score_df = happiness_t_file_df.append(happiness_file_2021_df)

C:\Users\Brittany\AppData\Local\Temp\ipykernel_22104\2024588666.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  happiness_score_df = happiness_t_file_df.append(happiness_file_2021_df)

In [13]:
# view total null values for columns
happiness_score_df.isna().sum()

Country_Name                                     0
year                                             0
Regional_Indicator                               0
Ladder_Score                                     0
Logged_GDP_per_Capita                           36
Social support                                  13
Healthy_Life_Expectancy                         55
Freedom_to_make_life_choices                    32
Generosity                                      89
Perceptions_of_corruption                      110
Positive_Affect                                171
Negative_affect                                165
Standard error of ladder score                1949
upperwhisker                                  1949
lowerwhisker                                  1949
Ladder score in Dystopia                      1949
Explained by: Log GDP per capita              1949
Explained by: Social support                  1949
Explained by: Healthy life expectancy         1949
Explained by: Freedom to make life choices    1949
Explained by: Generosity                      1949
Explained by: Perceptions of corruption       1949
Dystopia + residual                           1949
dtype: int64

# Clean alcohol_consumption_df dataset

In [14]:
alcohol_consumption_df.head()

,Country_Name,year,Regional_Indicator,alcohol_consumption_both_gender,alcohol_consumption_male,alcohol_consumption_female
0,Latvia,2019,Central and Eastern Europe,13.19,21.61,6.31
1,Moldova,2019,Commonwealth of Independent States,12.85,20.61,5.89
2,Germany,2019,Western Europe,12.79,19.71,6.15
3,Lithuania,2019,Central and Eastern Europe,12.78,20.60,6.30
4,Ireland,2019,Western Europe,12.75,19.38,6.34

In [15]:
#rename columns
alcohol_consumption_df.rename(columns = {'both': 'alcohol_consumption_both_gender'}, inplace = True)
alcohol_consumption_df.rename(columns = {'male': 'alcohol_consumption_male'}, inplace = True)
alcohol_consumption_df.rename(columns = {'female': 'alcohol_consumption_female'}, inplace = True)

In [16]:
#drop unwanted columns 
alcohol_consumption_df = alcohol_consumption_df.drop(columns="year")
alcohol_consumption_df = alcohol_consumption_df.drop(columns="Regional_Indicator")
alcohol_consumption_df.head()

,Country_Name,alcohol_consumption_both_gender,alcohol_consumption_male,alcohol_consumption_female
0,Latvia,13.19,21.61,6.31
1,Moldova,12.85,20.61,5.89
2,Germany,12.79,19.71,6.15
3,Lithuania,12.78,20.60,6.30
4,Ireland,12.75,19.38,6.34

In [17]:
alcohol_consumption_df.head()

,Country_Name,alcohol_consumption_both_gender,alcohol_consumption_male,alcohol_consumption_female
0,Latvia,13.19,21.61,6.31
1,Moldova,12.85,20.61,5.89
2,Germany,12.79,19.71,6.15
3,Lithuania,12.78,20.60,6.30
4,Ireland,12.75,19.38,6.34

In [18]:
happiness_scores_alchohol = pd.merge(happiness_score_df,alcohol_consumption_df,on=['Country_Name'],how='outer')

In [19]:
happiness_scores_alchohol.head(100)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,alcohol_consumption_both_gender,alcohol_consumption_male,alcohol_consumption_female
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Austria,2017.0,Western Europe,7.294,10.908,0.906,72.70,0.890,0.133,0.518,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.930,18.420,5.760
96,Austria,2018.0,Western Europe,7.396,10.928,0.912,73.00,0.904,0.053,0.523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.930,18.420,5.760
97,Austria,2019.0,Western Europe,7.195,10.939,0.964,73.30,0.903,0.060,0.457,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.930,18.420,5.760
98,Austria,2020.0,Western Europe,7.213,10.851,0.925,73.60,0.912,0.011,0.464,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.930,18.420,5.760
99,Austria,2021.0,Western Europe,7.268,10.906,0.934,73.30,0.908,0.042,0.481,...,1.492,1.062,0.782,0.64,0.215,0.292,2.784,11.930,18.420,5.760

In [20]:
#view NA counts for combined columns
happiness_scores_alchohol.isna().sum()

Country_Name                                     0
year                                            30
Regional_Indicator                              30
Ladder_Score                                    30
Logged_GDP_per_Capita                           66
Social support                                  43
Healthy_Life_Expectancy                         85
Freedom_to_make_life_choices                    62
Generosity                                     119
Perceptions_of_corruption                      140
Positive_Affect                                201
Negative_affect                                195
Standard error of ladder score                1979
upperwhisker                                  1979
lowerwhisker                                  1979
Ladder score in Dystopia                      1979
Explained by: Log GDP per capita              1979
Explained by: Social support                  1979
Explained by: Healthy life expectancy         1979
Explained by: Freedom to make life choices    1979
Explained by: Generosity                      1979
Explained by: Perceptions of corruption       1979
Dystopia + residual                           1979
alcohol_consumption_both_gender                 94
alcohol_consumption_male                        94
alcohol_consumption_female                      94
dtype: int64

In [21]:
#compare NA values to dataset row count
len(happiness_scores_alchohol)

2128

In [22]:
#View rows that have non-NA values for for aclohol to ensure join worked correctly 
happiness_scores_alchohol[~happiness_scores_alchohol['alcohol_consumption_both_gender'].isnull()].head(50)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,alcohol_consumption_both_gender,alcohol_consumption_male,alcohol_consumption_female
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.800,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.200,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.600,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.920,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.240,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
5,Afghanistan,2013.0,South Asia,3.572,7.725,0.484,52.560,0.578,0.061,0.823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
6,Afghanistan,2014.0,South Asia,3.131,7.718,0.526,52.880,0.509,0.104,0.871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
7,Afghanistan,2015.0,South Asia,3.983,7.702,0.529,53.200,0.389,0.080,0.881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
8,Afghanistan,2016.0,South Asia,4.220,7.697,0.559,53.000,0.523,0.042,0.793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
9,Afghanistan,2017.0,South Asia,2.662,7.697,0.491,52.800,0.427,-0.121,0.954,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
10,Afghanistan,2018.0,South Asia,2.694,7.692,0.508,52.600,0.374,-0.094,0.928,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
11,Afghanistan,2019.0,South Asia,2.375,7.697,0.420,52.400,0.394,-0.108,0.924,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
12,Afghanistan,2021.0,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,...,0.370,0.000,0.126,0.000,0.122,0.010,1.895,0.013,0.022,0.003
13,Albania,2007.0,Central and Eastern Europe,4.634,9.142,0.821,65.800,0.529,-0.009,0.875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
14,Albania,2009.0,Central and Eastern Europe,5.485,9.262,0.833,66.200,0.525,-0.158,0.864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
15,Albania,2010.0,Central and Eastern Europe,5.269,9.303,0.733,66.400,0.569,-0.172,0.726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
16,Albania,2011.0,Central and Eastern Europe,5.867,9.331,0.759,66.680,0.487,-0.205,0.877,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
17,Albania,2012.0,Central and Eastern Europe,5.510,9.347,0.785,66.960,0.602,-0.169,0.848,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
18,Albania,2013.0,Central and Eastern Europe,4.551,9.359,0.759,67.240,0.632,-0.127,0.863,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
19,Albania,2014.0,Central and Eastern Europe,4.814,9.378,0.626,67.520,0.735,-0.025,0.883,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
20,Albania,2015.0,Central and Eastern Europe,4.607,9.403,0.639,67.800,0.704,-0.081,0.885,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
21,Albania,2016.0,Central and Eastern Europe,4.511,9.437,0.638,68.100,0.730,-0.017,0.901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
22,Albania,2017.0,Central and Eastern Europe,4.640,9.476,0.638,68.400,0.750,-0.029,0.876,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
23,Albania,2018.0,Central and Eastern Europe,5.004,9.518,0.684,68.700,0.824,0.009,0.899,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
24,Albania,2019.0,Central and Eastern Europe,4.995,9.544,0.686,69.000,0.777,-0.099,0.914,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
25,Albania,2020.0,Central and Eastern Europe,5.365,9.497,0.710,69.300,0.754,0.007,0.891,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
26,Albania,2021.0,Central and Eastern Europe,5.117,9.520,0.697,68.999,0.785,-0.030,0.901,...,1.008,0.529,0.646,0.491,0.168,0.024,2.250,6.820,11.020,2.530
27,Algeria,2010.0,Middle East and North Africa,5.464,9.287,NaN,64.500,0.593,-0.205,0.618,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.630,1.090,0.170
28,Algeria,2011.0,Middle East and North Africa,5.317,9.297,0.810,64.660,0.530,-0.181,0.638,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.630,1.090,0.170
29,Algeria,2012.0,Middle East and North Africa,5.605,9.311,0.839,64.820,0.587,-0.172,0.690,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.630,1.090,0.170
30,Algeria,2014.0,Middle East and North Africa,6.355,9.335,0.818,65.140,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.630,1.090,0.170
31,Algeria,2016.0,Middle East and North Africa,5.341,9.362,0.749,65.500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.630,1.090,0.170
32,Algeria,2017.0,Middle East and North Africa,5.249,9.354,0.807,65.700,0.437,-0.167,0.700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.630,1.090,0.170
33,Algeria,2018.0,Middle East and North Africa,5.043,9.348,0.799,65.900,0.583,-0.146,0.759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.630,1.090,0.170
34,Algeria,2019.0,Middle East and North Africa,4.745,9.337,0.803,66.100,0.385,0.005,0.741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.630,1.090,0.170
35,Algeria,2021.0,Middle East and North Africa,4.887,9.342,0.802,66.005,0.480,-0.067,0.752,...,0.946,0.765,0.552,0.119,0.144,0.120,2.242,0.630,1.090,0.170
36,Angola,2011.0,Southwest Africa,5.589,8.946,0.723,52.500,0.584,0.055,0.911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.830,12.390,3.480
37,Angola,2012.0,Southwest Africa,4.360,8.992,0.753,53.200,0.456,-0.136,0.906,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.830,12.390,3.480
38,Angola,2013.0,Southwest Africa,3.937,9.005,0.722,53.900,0.410,-0.104,0.816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.830,12.390,3.480
39,Angola,2014.0,Southwest Africa,3.795,9.017,0.755,54.600,0.375,-0.168,0.834,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.830,12.390,3.480
40,Argentina,2006.0,Latin America and Caribbean,6.313,9.942,0.938,66.820,0.733,-0.157,0.852,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.450,14.660,4.640
41,Argentina,2007.0,Latin America and Caribbean,6.073,10.018,0.862,66.940,0.653,-0.141,0.881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.450,14.660,4.640
42,Argentina,2008.0,Latin America and Caribbean,5.961,10.048,0.892,67.060,0.678,-0.132,0.865,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.450,14.660,4.640
43,Argentina,2009.0,Latin America and Caribbean,6.424,9.977,0.919,67.180,0.637,-0.130,0.885,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.450,14.660,4.640
44,Argentina,2010.0,Latin America and Caribbean,6.441,10.066,0.927,67.300,0.730,-0.126,0.855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.450,14.660,4.640
45,Argentina,2011.0,Latin America and Caribbean,6.776,10.112,0.889,67.480,0.816,-0.174,0.755,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.450,14.660,4.640
46,Argentina,2012.0,Latin America and Caribbean,6.468,10.091,0.902,67.660,0.747,-0.148,0.817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.450,14.660,4.640
47,Argentina,2013.0,Latin America and Caribbean,6.582,10.103,0.910,67.840,0.737,-0.130,0.823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.450,14.660,4.640
48,Argentina,2014.0,Latin America and Caribbean,6.671,10.067,0.918,68.020,0.745,-0.164,0.854,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.450,14.660,4.640
49,Argentina,2015.0,Latin America and Caribbean,6.697,10.083,0.926,68.200,0.881,-0.174,0.851,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.450,14.660,4.640

# Clean covid_data_df dataset

In [23]:
covid_data_df.head()

,Country name,year,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,2020,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,2020,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,2020,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,2020,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,2020,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [24]:
#View all column names
list(covid_data_df)

['Country name',
 'year',
 'Continent',
 'Population',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/1M pop',
 'WHO Region']

In [25]:
#rename columns
covid_data_df.rename(columns = {'Country name': 'Country_Name'}, inplace = True)
covid_data_df.rename(columns = {'Continent': 'Regional_Indicator'}, inplace = True)
covid_data_df.rename(columns = {'TotalCases': 'COVID_TotalCases'}, inplace = True)
covid_data_df.rename(columns = {'NewCases': 'COVID_NewCases'}, inplace = True)
covid_data_df.rename(columns = {'TotalDeaths': 'COVID_TotalDeaths'}, inplace = True)
covid_data_df.rename(columns = {'NewDeaths': 'COVID_NewDeaths'}, inplace = True)
covid_data_df.rename(columns = {'TotalRecovered': 'COVID_TotalRecovered'}, inplace = True)
covid_data_df.rename(columns = {'NewRecovered': 'COVID_NewRecovered'}, inplace = True)
covid_data_df.rename(columns = {'ActiveCases': 'COVID_ActiveCases'}, inplace = True)
covid_data_df.rename(columns = {'Serious,Critical': 'COVID_Serious/Critical'}, inplace = True)
covid_data_df.rename(columns = {'Tot Cases/1M pop': 'COVID_Tot Cases/1M pop'}, inplace = True)
covid_data_df.rename(columns = {'Deaths/1M pop': 'COVID_Deaths/1M pop'}, inplace = True)
covid_data_df.rename(columns = {'TotalTests': 'COVID_TotalTests'}, inplace = True)
covid_data_df.rename(columns = {'Tests/1M pop': 'COVID_Tests/1M pop'}, inplace = True)

In [26]:
#drop unwanted columns 
covid_data_df = covid_data_df.drop(columns="year")
covid_data_df = covid_data_df.drop(columns="Regional_Indicator")
covid_data_df.head()

,Country_Name,Population,COVID_TotalCases,COVID_NewCases,COVID_TotalDeaths,COVID_NewDeaths,COVID_TotalRecovered,COVID_NewRecovered,COVID_ActiveCases,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region
0,USA,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [27]:
covid_data_df.head()

,Country_Name,Population,COVID_TotalCases,COVID_NewCases,COVID_TotalDeaths,COVID_NewDeaths,COVID_TotalRecovered,COVID_NewRecovered,COVID_ActiveCases,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region
0,USA,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [28]:
happiness_scores_alchohol_covid_df = pd.merge(happiness_scores_alchohol,covid_data_df,on=['Country_Name'],how='outer')

In [29]:
happiness_scores_alchohol_covid_df.head(10)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_NewDeaths,COVID_TotalRecovered,COVID_NewRecovered,COVID_ActiveCases,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
5,Afghanistan,2013.0,South Asia,3.572,7.725,0.484,52.56,0.578,0.061,0.823,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
6,Afghanistan,2014.0,South Asia,3.131,7.718,0.526,52.88,0.509,0.104,0.871,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
7,Afghanistan,2015.0,South Asia,3.983,7.702,0.529,53.20,0.389,0.080,0.881,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
8,Afghanistan,2016.0,South Asia,4.220,7.697,0.559,53.00,0.523,0.042,0.793,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
9,Afghanistan,2017.0,South Asia,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean

In [30]:
#view NA counts for combined columns
happiness_scores_alchohol_covid_df.isna().sum()

Country_Name                                     0
year                                            71
Regional_Indicator                              71
Ladder_Score                                    71
Logged_GDP_per_Capita                          107
Social support                                  84
Healthy_Life_Expectancy                        126
Freedom_to_make_life_choices                   103
Generosity                                     160
Perceptions_of_corruption                      181
Positive_Affect                                242
Negative_affect                                236
Standard error of ladder score                2020
upperwhisker                                  2020
lowerwhisker                                  2020
Ladder score in Dystopia                      2020
Explained by: Log GDP per capita              2020
Explained by: Social support                  2020
Explained by: Healthy life expectancy         2020
Explained by: Freedom to make life choices    2020
Explained by: Generosity                      2020
Explained by: Perceptions of corruption       2020
Dystopia + residual                           2020
alcohol_consumption_both_gender                135
alcohol_consumption_male                       135
alcohol_consumption_female                     135
Population                                     177
COVID_TotalCases                               176
COVID_NewCases                                2114
COVID_TotalDeaths                              236
COVID_NewDeaths                               2121
COVID_TotalRecovered                           224
COVID_NewRecovered                            2121
COVID_ActiveCases                              224
COVID_Serious/Critical                         785
COVID_Tot Cases/1M pop                         177
COVID_Deaths/1M pop                            237
COVID_TotalTests                               326
COVID_Tests/1M pop                             326
WHO Region                                     201
dtype: int64

In [31]:
#compare NA values to dataset row count
len(happiness_scores_alchohol_covid_df)

2169

In [32]:
#View rows that have non-NA values for COVID to ensure join worked correctly 
happiness_scores_alchohol_covid_df[~happiness_scores_alchohol_covid_df['COVID_TotalCases'].isnull()].head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_NewDeaths,COVID_TotalRecovered,COVID_NewRecovered,COVID_ActiveCases,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean

# Clean screen_time_df dataset

In [33]:
screen_time_df.head()

   Country_Name  Average_screen_time
0  South Africa                10.46
1   Philippines                10.27
2        Brazil                10.19
3      Colombia                10.03
4     Argentina                 9.38

In [34]:
#screen_time_df = screen_time_df.drop(columns="Country_Name")
#screen_time_df.head()

KeyError: "['Country_Source'] not found in axis"

In [35]:
#View all column names
list(screen_time_df)

['Country_Name', 'Average_screen_time']

In [36]:
#rename columns
screen_time_df.rename(columns = {'Country_Clean': 'Country_Name'}, inplace = True)
screen_time_df.rename(columns = {'Average screen time': 'Average_screen_time'}, inplace = True)

In [37]:
screen_time_df.head()

   Country_Name  Average_screen_time
0  South Africa                10.46
1   Philippines                10.27
2        Brazil                10.19
3      Colombia                10.03
4     Argentina                 9.38

In [38]:
#combine datasets
happiness_scores_alchohol_covid__screen_df = pd.merge(happiness_scores_alchohol_covid_df,screen_time_df,on=['Country_Name'],how='outer')

In [39]:
happiness_scores_alchohol_covid__screen_df.head(10)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_TotalRecovered,COVID_NewRecovered,COVID_ActiveCases,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN
5,Afghanistan,2013.0,South Asia,3.572,7.725,0.484,52.56,0.578,0.061,0.823,...,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN
6,Afghanistan,2014.0,South Asia,3.131,7.718,0.526,52.88,0.509,0.104,0.871,...,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN
7,Afghanistan,2015.0,South Asia,3.983,7.702,0.529,53.20,0.389,0.080,0.881,...,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN
8,Afghanistan,2016.0,South Asia,4.220,7.697,0.559,53.00,0.523,0.042,0.793,...,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN
9,Afghanistan,2017.0,South Asia,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,...,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN

In [40]:
#view NA counts for combined columns
happiness_scores_alchohol_covid__screen_df.isna().sum()

Country_Name                                     0
year                                            71
Regional_Indicator                              71
Ladder_Score                                    71
Logged_GDP_per_Capita                          107
Social support                                  84
Healthy_Life_Expectancy                        126
Freedom_to_make_life_choices                   103
Generosity                                     160
Perceptions_of_corruption                      181
Positive_Affect                                242
Negative_affect                                236
Standard error of ladder score                2020
upperwhisker                                  2020
lowerwhisker                                  2020
Ladder score in Dystopia                      2020
Explained by: Log GDP per capita              2020
Explained by: Social support                  2020
Explained by: Healthy life expectancy         2020
Explained by: Freedom to make life choices    2020
Explained by: Generosity                      2020
Explained by: Perceptions of corruption       2020
Dystopia + residual                           2020
alcohol_consumption_both_gender                135
alcohol_consumption_male                       135
alcohol_consumption_female                     135
Population                                     177
COVID_TotalCases                               176
COVID_NewCases                                2114
COVID_TotalDeaths                              236
COVID_NewDeaths                               2121
COVID_TotalRecovered                           224
COVID_NewRecovered                            2121
COVID_ActiveCases                              224
COVID_Serious/Critical                         785
COVID_Tot Cases/1M pop                         177
COVID_Deaths/1M pop                            237
COVID_TotalTests                               326
COVID_Tests/1M pop                             326
WHO Region                                     201
Average_screen_time                           1514
dtype: int64

In [41]:
#compare NA values to dataset row count
len(happiness_scores_alchohol_covid__screen_df)

2169

In [42]:
#View rows that have non-NA values for COVID to ensure join worked correctly 
happiness_scores_alchohol_covid__screen_df[~happiness_scores_alchohol_covid__screen_df['Average_screen_time'].isnull()].head(50)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_TotalRecovered,COVID_NewRecovered,COVID_ActiveCases,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time
40,Argentina,2006.0,Latin America and Caribbean,6.313,9.942,0.938,66.82,0.733,-0.157,0.852,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
41,Argentina,2007.0,Latin America and Caribbean,6.073,10.018,0.862,66.94,0.653,-0.141,0.881,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
42,Argentina,2008.0,Latin America and Caribbean,5.961,10.048,0.892,67.06,0.678,-0.132,0.865,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
43,Argentina,2009.0,Latin America and Caribbean,6.424,9.977,0.919,67.18,0.637,-0.130,0.885,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
44,Argentina,2010.0,Latin America and Caribbean,6.441,10.066,0.927,67.30,0.730,-0.126,0.855,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
45,Argentina,2011.0,Latin America and Caribbean,6.776,10.112,0.889,67.48,0.816,-0.174,0.755,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
46,Argentina,2012.0,Latin America and Caribbean,6.468,10.091,0.902,67.66,0.747,-0.148,0.817,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
47,Argentina,2013.0,Latin America and Caribbean,6.582,10.103,0.910,67.84,0.737,-0.130,0.823,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
48,Argentina,2014.0,Latin America and Caribbean,6.671,10.067,0.918,68.02,0.745,-0.164,0.854,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
49,Argentina,2015.0,Latin America and Caribbean,6.697,10.083,0.926,68.20,0.881,-0.174,0.851,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
50,Argentina,2016.0,Latin America and Caribbean,6.427,10.051,0.883,68.40,0.848,-0.192,0.851,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
51,Argentina,2017.0,Latin America and Caribbean,6.039,10.067,0.907,68.60,0.832,-0.186,0.841,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
52,Argentina,2018.0,Latin America and Caribbean,5.793,10.032,0.900,68.80,0.846,-0.211,0.855,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
53,Argentina,2019.0,Latin America and Caribbean,6.086,10.000,0.896,69.00,0.817,-0.211,0.830,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
54,Argentina,2020.0,Latin America and Caribbean,5.901,9.850,0.897,69.20,0.823,-0.122,0.816,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
55,Argentina,2021.0,Latin America and Caribbean,5.929,9.962,0.898,69.00,0.828,-0.182,0.834,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
71,Australia,2005.0,North America and ANZ,7.341,10.659,0.968,71.40,0.935,NaN,0.390,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
72,Australia,2007.0,North America and ANZ,7.285,10.703,0.965,71.72,0.891,0.347,0.513,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
73,Australia,2008.0,North America and ANZ,7.254,10.719,0.947,71.88,0.916,0.305,0.431,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
74,Australia,2010.0,North America and ANZ,7.450,10.722,0.955,72.20,0.932,0.317,0.366,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
75,Australia,2011.0,North America and ANZ,7.406,10.733,0.967,72.30,0.945,0.369,0.382,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
76,Australia,2012.0,North America and ANZ,7.196,10.754,0.945,72.40,0.935,0.274,0.368,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
77,Australia,2013.0,North America and ANZ,7.364,10.762,0.928,72.50,0.933,0.269,0.432,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
78,Australia,2014.0,North America and ANZ,7.289,10.772,0.924,72.60,0.923,0.319,0.442,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
79,Australia,2015.0,North America and ANZ,7.309,10.779,0.952,72.70,0.922,0.332,0.357,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
80,Australia,2016.0,North America and ANZ,7.250,10.791,0.942,73.00,0.922,0.239,0.399,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
81,Australia,2017.0,North America and ANZ,7.257,10.798,0.950,73.30,0.911,0.317,0.411,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
82,Australia,2018.0,North America and ANZ,7.177,10.811,0.940,73.60,0.916,0.146,0.405,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
83,Australia,2019.0,North America and ANZ,7.234,10.815,0.943,73.90,0.918,0.121,0.430,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
84,Australia,2020.0,North America and ANZ,7.137,10.760,0.937,74.20,0.905,0.210,0.491,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
85,Australia,2021.0,North America and ANZ,7.183,10.796,0.940,73.90,0.914,0.159,0.442,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
86,Austria,2006.0,Western Europe,7.122,10.842,0.936,70.76,0.941,0.302,0.490,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
87,Austria,2008.0,Western Europe,7.181,10.887,0.935,71.08,0.879,0.291,0.614,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
88,Austria,2010.0,Western Europe,7.303,10.861,0.914,71.40,0.896,0.131,0.546,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
89,Austria,2011.0,Western Europe,7.471,10.887,0.944,71.54,0.939,0.132,0.703,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
90,Austria,2012.0,Western Europe,7.401,10.889,0.945,71.68,0.920,0.118,0.771,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
91,Austria,2013.0,Western Europe,7.499,10.883,0.950,71.82,0.922,0.168,0.679,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
92,Austria,2014.0,Western Europe,6.950,10.882,0.899,71.96,0.885,0.118,0.567,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
93,Austria,2015.0,Western Europe,7.076,10.881,0.928,72.10,0.900,0.099,0.557,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
94,Austria,2016.0,Western Europe,7.048,10.891,0.926,72.40,0.889,0.080,0.524,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
95,Austria,2017.0,Western Europe,7.294,10.908,0.906,72.70,0.890,0.133,0.518,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
96,Austria,2018.0,Western Europe,7.396,10.928,0.912,73.00,0.904,0.053,0.523,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
97,Austria,2019.0,Western Europe,7.195,10.939,0.964,73.30,0.903,0.060,0.457,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
98,Austria,2020.0,Western Europe,7.213,10.851,0.925,73.60,0.912,0.011,0.464,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
99,Austria,2021.0,Western Europe,7.268,10.906,0.934,73.30,0.908,0.042,0.481,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
158,Belgium,2005.0,Western Europe,7.262,10.745,0.935,69.90,0.924,NaN,0.598,...,17661.0,NaN,43638.0,61.0,6137.0,850.0,1767120.0,152407.0,Europe,5.44
159,Belgium,2007.0,Western Europe,7.219,10.792,0.922,70.26,0.901,0.069,0.721,...,17661.0,NaN,43638.0,61.0,6137.0,850.0,1767120.0,152407.0,Europe,5.44
160,Belgium,2008.0,Western Europe,7.117,10.789,0.923,70.44,0.887,0.007,0.652,...,17661.0,NaN,43638.0,61.0,6137.0,850.0,1767120.0,152407.0,Europe,5.44
161,Belgium,2010.0,Western Europe,6.854,10.779,0.931,70.80,0.807,0.022,0.697,...,17661.0,NaN,43638.0,61.0,6137.0,850.0,1767120.0,152407.0,Europe,5.44
162,Belgium,2011.0,Western Europe,7.111,10.783,0.937,70.92,0.880,-0.014,0.711,...,17661.0,NaN,43638.0,61.0,6137.0,850.0,1767120.0,152407.0,Europe,5.44

# Clean population_density_df dataframe

In [43]:
population_density_df.head()

  Country_Name Population_2020 Land_Area_Km Density_P/Km
0  Afghanistan      38,041,750      652,230        56.94
1      Albania       2,854,190       28,748       104.61
2      Algeria      43,053,050    2,381,740        17.73
3      Andorra          77,140          468       163.84
4       Angola      31,825,290    1,246,700        24.71

In [44]:
#View all column names
list(population_density_df)

['Country_Name', 'Population_2020', 'Land_Area_Km', 'Density_P/Km']

In [45]:
#rename columns
population_density_df.rename(columns = {'Country': 'Country_Name'}, inplace = True)
population_density_df.rename(columns = {'Population (2020)': 'Population_2020'}, inplace = True)
population_density_df.rename(columns = {'Land Area (Km²)': 'Land_Area_Km'}, inplace = True)
population_density_df.rename(columns = {'Density (P/Km²)': 'Density_P/Km'}, inplace = True)

In [46]:
population_density_df.head()

  Country_Name Population_2020 Land_Area_Km Density_P/Km
0  Afghanistan      38,041,750      652,230        56.94
1      Albania       2,854,190       28,748       104.61
2      Algeria      43,053,050    2,381,740        17.73
3      Andorra          77,140          468       163.84
4       Angola      31,825,290    1,246,700        24.71

In [47]:
#combine datasets
happiness_scores_alchohol_covid__screen_density_df = pd.merge(happiness_scores_alchohol_covid__screen_df,population_density_df,on=['Country_Name'],how='outer')

In [48]:
happiness_scores_alchohol_covid__screen_density_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94

In [49]:
#view NA counts for combined columns
happiness_scores_alchohol_covid__screen_density_df.isna().sum()

Country_Name                                     0
year                                            79
Regional_Indicator                              79
Ladder_Score                                    79
Logged_GDP_per_Capita                          115
Social support                                  92
Healthy_Life_Expectancy                        134
Freedom_to_make_life_choices                   111
Generosity                                     168
Perceptions_of_corruption                      189
Positive_Affect                                250
Negative_affect                                244
Standard error of ladder score                2028
upperwhisker                                  2028
lowerwhisker                                  2028
Ladder score in Dystopia                      2028
Explained by: Log GDP per capita              2028
Explained by: Social support                  2028
Explained by: Healthy life expectancy         2028
Explained by: Freedom to make life choices    2028
Explained by: Generosity                      2028
Explained by: Perceptions of corruption       2028
Dystopia + residual                           2028
alcohol_consumption_both_gender                143
alcohol_consumption_male                       143
alcohol_consumption_female                     143
Population                                     185
COVID_TotalCases                               184
COVID_NewCases                                2122
COVID_TotalDeaths                              244
COVID_NewDeaths                               2129
COVID_TotalRecovered                           232
COVID_NewRecovered                            2129
COVID_ActiveCases                              232
COVID_Serious/Critical                         793
COVID_Tot Cases/1M pop                         185
COVID_Deaths/1M pop                            245
COVID_TotalTests                               334
COVID_Tests/1M pop                             334
WHO Region                                     209
Average_screen_time                           1522
Population_2020                                150
Land_Area_Km                                   150
Density_P/Km                                   150
dtype: int64

In [50]:
#compare NA values to dataset row count
len(happiness_scores_alchohol_covid__screen_density_df)

2177

In [51]:
#View rows that have non-NA values for COVID to ensure join worked correctly 
happiness_scores_alchohol_covid__screen_density_df[~happiness_scores_alchohol_covid__screen_density_df['Density_P/Km'].isnull()].head(10)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
5,Afghanistan,2013.0,South Asia,3.572,7.725,0.484,52.56,0.578,0.061,0.823,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
6,Afghanistan,2014.0,South Asia,3.131,7.718,0.526,52.88,0.509,0.104,0.871,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
7,Afghanistan,2015.0,South Asia,3.983,7.702,0.529,53.20,0.389,0.080,0.881,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
8,Afghanistan,2016.0,South Asia,4.220,7.697,0.559,53.00,0.523,0.042,0.793,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94
9,Afghanistan,2017.0,South Asia,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,...,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94

# Clean meat_consumption_df dataframe

In [52]:
meat_consumption_df.head()

          Country_Name  Meat_Consumption
0          Afghanistan              17.3
1              Algeria              18.3
2       American Samoa              24.9
3               Angola              19.0
4  Antigua and Barbuda              56.0

In [53]:
#View all column names
list(meat_consumption_df)

['Country_Name', 'Meat_Consumption']

In [54]:
#drop unwanted columns 
meat_consumption_df = meat_consumption_df.drop(columns="ISO-code")
meat_consumption_df.head()

KeyError: "['ISO-code'] not found in axis"

In [55]:
#rename columns
meat_consumption_df.rename(columns = {'Country': 'Country_Name'}, inplace = True)
meat_consumption_df.rename(columns = {'Meat consumption': 'Meat_Consumption'}, inplace = True)

In [56]:
meat_consumption_df.head()

          Country_Name  Meat_Consumption
0          Afghanistan              17.3
1              Algeria              18.3
2       American Samoa              24.9
3               Angola              19.0
4  Antigua and Barbuda              56.0

In [57]:
#combine datasets
happiness_scores_alchohol_covid__screen_density_meat_df = pd.merge(happiness_scores_alchohol_covid__screen_density_df,meat_consumption_df,on=['Country_Name'],how='outer')

In [58]:
happiness_scores_alchohol_covid__screen_density_meat_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km,Meat_Consumption
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3

In [59]:
#view NA counts for combined columns
happiness_scores_alchohol_covid__screen_density_meat_df.isna().sum()

Country_Name                                     0
year                                            87
Regional_Indicator                              87
Ladder_Score                                    87
Logged_GDP_per_Capita                          123
Social support                                 100
Healthy_Life_Expectancy                        142
Freedom_to_make_life_choices                   119
Generosity                                     176
Perceptions_of_corruption                      198
Positive_Affect                                259
Negative_affect                                253
Standard error of ladder score                2054
upperwhisker                                  2054
lowerwhisker                                  2054
Ladder score in Dystopia                      2054
Explained by: Log GDP per capita              2054
Explained by: Social support                  2054
Explained by: Healthy life expectancy         2054
Explained by: Freedom to make life choices    2054
Explained by: Generosity                      2054
Explained by: Perceptions of corruption       2054
Dystopia + residual                           2054
alcohol_consumption_both_gender                151
alcohol_consumption_male                       151
alcohol_consumption_female                     151
Population                                     193
COVID_TotalCases                               192
COVID_NewCases                                2149
COVID_TotalDeaths                              252
COVID_NewDeaths                               2156
COVID_TotalRecovered                           240
COVID_NewRecovered                            2156
COVID_ActiveCases                              240
COVID_Serious/Critical                         820
COVID_Tot Cases/1M pop                         193
COVID_Deaths/1M pop                            253
COVID_TotalTests                               361
COVID_Tests/1M pop                             361
WHO Region                                     217
Average_screen_time                           1549
Population_2020                                158
Land_Area_Km                                   158
Density_P/Km                                   158
Meat_Consumption                               173
dtype: int64

In [60]:
#compare NA values to dataset row count
len(happiness_scores_alchohol_covid__screen_density_meat_df)

2204

In [61]:
#View rows that have non-NA values for COVID to ensure join worked correctly 
happiness_scores_alchohol_covid__screen_density_meat_df[~happiness_scores_alchohol_covid__screen_density_meat_df['Meat_Consumption'].isnull()].head(10)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km,Meat_Consumption
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
5,Afghanistan,2013.0,South Asia,3.572,7.725,0.484,52.56,0.578,0.061,0.823,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
6,Afghanistan,2014.0,South Asia,3.131,7.718,0.526,52.88,0.509,0.104,0.871,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
7,Afghanistan,2015.0,South Asia,3.983,7.702,0.529,53.20,0.389,0.080,0.881,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
8,Afghanistan,2016.0,South Asia,4.220,7.697,0.559,53.00,0.523,0.042,0.793,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3
9,Afghanistan,2017.0,South Asia,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,...,946.0,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3

# Clean median_age_df dataset

In [62]:
median_age_df.head()

     Country_Name  Median_Age
0     Afghanistan        27.4
1         Albania        32.9
2         Algeria        28.1
3  American Samoa        25.5
4         Andorra        44.3

In [63]:
#View all column names
list(median_age_df)

['Country_Name', 'Median_Age']

In [64]:
#drop unwanted columns 
median_age_df = median_age_df.drop(columns="ISO-code")
median_age_df.head()

KeyError: "['ISO-code'] not found in axis"

In [65]:
#rename columns
median_age_df.rename(columns = {'Country': 'Country_Name'}, inplace = True)
median_age_df.rename(columns = {'Median age': 'Median_Age'}, inplace = True)

In [66]:
median_age_df.head()

     Country_Name  Median_Age
0     Afghanistan        27.4
1         Albania        32.9
2         Algeria        28.1
3  American Samoa        25.5
4         Andorra        44.3

In [67]:
#combine datasets
happiness_scores_alchohol_covid__screen_density_meat_age_df = pd.merge(happiness_scores_alchohol_covid__screen_density_meat_df,median_age_df,on=['Country_Name'],how='outer')

In [68]:
happiness_scores_alchohol_covid__screen_density_meat_age_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km,Meat_Consumption,Median_Age
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4

In [69]:
#view NA counts for combined columns
happiness_scores_alchohol_covid__screen_density_meat_age_df.isna().sum()

Country_Name                                     0
year                                           102
Regional_Indicator                             102
Ladder_Score                                   102
Logged_GDP_per_Capita                          138
Social support                                 115
Healthy_Life_Expectancy                        157
Freedom_to_make_life_choices                   134
Generosity                                     191
Perceptions_of_corruption                      213
Positive_Affect                                274
Negative_affect                                268
Standard error of ladder score                2069
upperwhisker                                  2069
lowerwhisker                                  2069
Ladder score in Dystopia                      2069
Explained by: Log GDP per capita              2069
Explained by: Social support                  2069
Explained by: Healthy life expectancy         2069
Explained by: Freedom to make life choices    2069
Explained by: Generosity                      2069
Explained by: Perceptions of corruption       2069
Dystopia + residual                           2069
alcohol_consumption_both_gender                166
alcohol_consumption_male                       166
alcohol_consumption_female                     166
Population                                     208
COVID_TotalCases                               207
COVID_NewCases                                2164
COVID_TotalDeaths                              267
COVID_NewDeaths                               2171
COVID_TotalRecovered                           255
COVID_NewRecovered                            2171
COVID_ActiveCases                              255
COVID_Serious/Critical                         835
COVID_Tot Cases/1M pop                         208
COVID_Deaths/1M pop                            268
COVID_TotalTests                               376
COVID_Tests/1M pop                             376
WHO Region                                     232
Average_screen_time                           1564
Population_2020                                173
Land_Area_Km                                   173
Density_P/Km                                   173
Meat_Consumption                               188
Median_Age                                     121
dtype: int64

In [70]:
#compare NA values to dataset row count
len(happiness_scores_alchohol_covid__screen_density_meat_age_df)

2219

In [71]:
#View rows that have non-NA values for COVID to ensure join worked correctly 
happiness_scores_alchohol_covid__screen_density_meat_age_df[~happiness_scores_alchohol_covid__screen_density_meat_age_df['Median_Age'].isnull()].head(10)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km,Meat_Consumption,Median_Age
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
5,Afghanistan,2013.0,South Asia,3.572,7.725,0.484,52.56,0.578,0.061,0.823,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
6,Afghanistan,2014.0,South Asia,3.131,7.718,0.526,52.88,0.509,0.104,0.871,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
7,Afghanistan,2015.0,South Asia,3.983,7.702,0.529,53.20,0.389,0.080,0.881,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
8,Afghanistan,2016.0,South Asia,4.220,7.697,0.559,53.00,0.523,0.042,0.793,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4
9,Afghanistan,2017.0,South Asia,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,...,33.0,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4

# clean suicide_rate_df dataframe

In [72]:
suicide_rate_df.head()

          Country_Name  Suicide_rate
0          Afghanistan           6.4
1              Albania           5.6
2              Algeria           3.3
3               Angola           8.9
4  Antigua and Barbuda           0.5

In [73]:
#View all column names
list(suicide_rate_df)

['Country_Name', 'Suicide_rate']

In [74]:
#drop unwanted columns 
suicide_rate_df = suicide_rate_df.drop(columns="ISO-code")
suicide_rate_df.head()

KeyError: "['ISO-code'] not found in axis"

In [75]:
#rename columns
suicide_rate_df.rename(columns = {'Country': 'Country_Name'}, inplace = True)
suicide_rate_df.rename(columns = {'Suicide rate': 'Suicide_rate'}, inplace = True)

In [76]:
suicide_rate_df.head()

          Country_Name  Suicide_rate
0          Afghanistan           6.4
1              Albania           5.6
2              Algeria           3.3
3               Angola           8.9
4  Antigua and Barbuda           0.5

In [77]:
#combine datasets
happiness_data_all_df = pd.merge(happiness_scores_alchohol_covid__screen_density_meat_age_df,suicide_rate_df,on=['Country_Name'],how='outer')

In [78]:
happiness_data_all_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km,Meat_Consumption,Median_Age,Suicide_rate
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4

In [79]:
#view NA counts for combined columns
happiness_data_all_df.isna().sum()

Country_Name                                     0
year                                           102
Regional_Indicator                             102
Ladder_Score                                   102
Logged_GDP_per_Capita                          138
Social support                                 115
Healthy_Life_Expectancy                        157
Freedom_to_make_life_choices                   134
Generosity                                     191
Perceptions_of_corruption                      215
Positive_Affect                                276
Negative_affect                                270
Standard error of ladder score                2105
upperwhisker                                  2105
lowerwhisker                                  2105
Ladder score in Dystopia                      2105
Explained by: Log GDP per capita              2105
Explained by: Social support                  2105
Explained by: Healthy life expectancy         2105
Explained by: Freedom to make life choices    2105
Explained by: Generosity                      2105
Explained by: Perceptions of corruption       2105
Dystopia + residual                           2105
alcohol_consumption_both_gender                166
alcohol_consumption_male                       166
alcohol_consumption_female                     166
Population                                     208
COVID_TotalCases                               207
COVID_NewCases                                2202
COVID_TotalDeaths                              267
COVID_NewDeaths                               2209
COVID_TotalRecovered                           255
COVID_NewRecovered                            2209
COVID_ActiveCases                              255
COVID_Serious/Critical                         873
COVID_Tot Cases/1M pop                         208
COVID_Deaths/1M pop                            268
COVID_TotalTests                               414
COVID_Tests/1M pop                             414
WHO Region                                     232
Average_screen_time                           1602
Population_2020                                173
Land_Area_Km                                   173
Density_P/Km                                   173
Meat_Consumption                               188
Median_Age                                     121
Suicide_rate                                   154
dtype: int64

In [80]:
#compare NA values to dataset row count
len(happiness_data_all_df)

2257

In [81]:
#View rows that have non-NA values for COVID to ensure join worked correctly 
happiness_data_all_df[~happiness_data_all_df['Suicide_rate'].isnull()].head(10)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km,Meat_Consumption,Median_Age,Suicide_rate
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
5,Afghanistan,2013.0,South Asia,3.572,7.725,0.484,52.56,0.578,0.061,0.823,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
6,Afghanistan,2014.0,South Asia,3.131,7.718,0.526,52.88,0.509,0.104,0.871,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
7,Afghanistan,2015.0,South Asia,3.983,7.702,0.529,53.20,0.389,0.080,0.881,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
8,Afghanistan,2016.0,South Asia,4.220,7.697,0.559,53.00,0.523,0.042,0.793,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
9,Afghanistan,2017.0,South Asia,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,...,90396.0,2317.0,EasternMediterranean,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4

In [82]:
happiness_data_all_df.Country_Name.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong S.A.R. of China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Cyprus', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palestinian Territories', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia',
       'Somaliland region', 'South Africa', 'South Korea', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan Province of China', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe', 'Andorra', 'Cook Islands', 'Barbados', 'Niue',
       'Saint Lucia', 'Antigua and Barbuda', 'Grenada', 'Seychelles',
       'Eswatini', 'Dominica', 'Saint Vincent and the Grenadines',
       'Equatorial Guinea', 'Saint Kitts and Nevis',
       'Sao Tome and Principe', 'Guinea-Bissau', 'Bahamas', 'Nauru',
       'North Korea', 'Fiji', 'Samoa', 'Micronesia', 'Kiribati',
       'Papua New Guinea', 'Eritrea', 'Vanuatu', 'Solomon Islands',
       'Tuvalu', 'Timor-Leste', 'Brunei', 'Tonga', 'USA', 'UK', 'UAE',
       'Czechia', 'Palestine', 'DRC', 'French Guiana', 'CAR', 'Hong Kong',
       'Mayotte', 'Cabo Verde', 'Diamond Princess', 'San Marino',
       'RÃ©union', 'Channel Islands', 'Taiwan', 'Isle of Man',
       'Guadeloupe', 'Martinique', 'Faeroe Islands', 'Aruba',
       'Cayman Islands', 'Gibraltar', 'Sint Maarten', 'Bermuda',
       'Brunei ', 'Turks and Caicos', 'Monaco', 'Liechtenstein',
       'French Polynesia', 'St. Vincent Grenadines', 'Saint Martin',
       'Macao', 'CuraÃ§ao', 'New Caledonia', 'Greenland', 'Montserrat',
       'Caribbean Netherlands', 'Falkland Islands', 'Vatican City',
       'Western Sahara', "Cote d'Ivoire", 'Congo ', 'Eswatini ',
       'Holy See', 'Marshall Islands', 'Palau', 'State of Palestine',
       'United States of America', 'American Samoa', 'Cape Verde',
       'East Timor', 'FR Yugoslavia', 'Guam', 'The Bahamas', 'The Gambia',
       'Virgin Islands', 'Anguilla', 'British Virgin Islands',
       'Republic of the Congo', 'Curacao', 'Faroe Islands', 'Guernsey',
       'Guinea - Bissau', 'Jersey', 'Macau', 'Northern Mariana Islands',
       'Puerto Rico', 'Saint Barthelemy', 'Saint Pierre and Miquelon',
       'Turks and Caicos Islands', 'Wallis and Futuna'], dtype=object)

# Export Clean Dataset

In [ ]:
#export DataFrame to CSV file
#happiness_t_file_df.to_csv('Data/world-happiness-report-clean.csv', index=False)

In [ ]:
#export DataFrame to CSV file
#happiness_file_2021_df.to_csv('Data/world-happiness-report-2021-clean.csv', index=False)

In [ ]:
#export DataFrame to CSV file
#alcohol_consumption_df.to_csv('Data/alcohol_consumption_bycountry-clean.csv', index=False)

In [ ]:
#export DataFrame to CSV file
#covid_data_df.to_csv('Data/kaggle-covid/worldometer_data_clean.csv', index=False)

In [ ]:
#export DataFrame to CSV file
#screen_time_df.to_csv('Data/Clean_Average_Screen_Time_per_Country_2021_clean.csv', index=False)

In [ ]:
#export DataFrame to CSV file
#population_density_df.to_csv('Data/Country_Population_Land_Area_Density_clean.csv', index=False)

In [ ]:
#export DataFrame to CSV file
#meat_consumption_df.to_csv('Data/Meat_consumption_clean.csv', index=False)

In [ ]:
#export DataFrame to CSV file
#median_age_df.to_csv('Data/Median_age_clean.csv', index=False)

In [ ]:
#export DataFrame to CSV file
#suicide_rate_df.to_csv('Data/Suicide_rate_clean.csv', index=False)