In [24]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\brittany\anaconda3\lib\site-packages (2.9.3)

In [47]:
import pandas as pd
from configparser import ConfigParser
import psycopg2
import pandas.io.sql as sqlio
from sqlalchemy import create_engine
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from pathlib import Path
from collections import Counter
from sklearn import preprocessing
from sklearn import utils

In [26]:
##Note: uncomment this if you are using a config.py file, and change the "password"
# from config import password
password = "Post23!Fnord"

In [27]:
param_dic={
    "host": "happinessproject.cqkpnj5dcmou.us-east-1.rds.amazonaws.com",
    "database": "project-data",
    "user" : "postgres",
    "password" : password
}

def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

conn = connect(param_dic)

Connecting to the PostgreSQL database...
Connection successful

In [28]:
query="select * from worldhappinessreport_history"

worldhappinessreport_2021_df=sqlio.read_sql_query(query,conn)

worldhappinessreport_2021_df.head()

C:\Users\Brittany\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,country_name,year_num,life_ladder,log_gdp_per_cap,social_support,healty_life_exp,freedom,generosity,percept_corrupt,positive_affect,negative_affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [29]:
query1="select * from screen_time"

screen_time_2021_df=sqlio.read_sql_query(query1,conn)

screen_time_2021_df.head()

C:\Users\Brittany\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

  country_name_clean country_name_source  screen_time_avg
0       South Africa        South Africa            10.46
1        Philippines         Philippines            10.27
2             Brazil              Brazil            10.19
3           Colombia            Colombia            10.03
4          Argentina           Argentina             9.38

In [30]:
screen_time_2021_df.columns =['country_name', 'country_name_source', 'screen_time_avg']
screen_time_2021_df.head()

   country_name country_name_source  screen_time_avg
0  South Africa        South Africa            10.46
1   Philippines         Philippines            10.27
2        Brazil              Brazil            10.19
3      Colombia            Colombia            10.03
4     Argentina           Argentina             9.38

In [31]:
happiness2021_screen_df = worldhappinessreport_2021_df.merge(screen_time_2021_df , on='country_name', how = 'left')
happiness2021_screen_df.head()

,country_name,year_num,life_ladder,log_gdp_per_cap,social_support,healty_life_exp,freedom,generosity,percept_corrupt,positive_affect,negative_affect,country_name_source,screen_time_avg
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,NaN,NaN
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,NaN,NaN
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,NaN,NaN
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,NaN,NaN
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,NaN,NaN

In [32]:
query2="select * from land_area"

land_area_df=sqlio.read_sql_query(query2,conn)

land_area_df.head()

C:\Users\Brittany\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

  country_name  population_2020  land_area_skm  density_skm
0  Afghanistan       38041750.0       652230.0        56.94
1      Albania        2854190.0        28748.0       104.61
2      Algeria       43053050.0      2381740.0        17.73
3      Andorra          77140.0          468.0       163.84
4       Angola       31825290.0      1246700.0        24.71

In [33]:
happiness2021_screen_land_df = happiness2021_screen_df.merge(land_area_df , on='country_name', how = 'left')
happiness2021_screen_land_df.head()

,country_name,year_num,life_ladder,log_gdp_per_cap,social_support,healty_life_exp,freedom,generosity,percept_corrupt,positive_affect,negative_affect,country_name_source,screen_time_avg,population_2020,land_area_skm,density_skm
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,NaN,NaN,38041750.0,652230.0,56.94
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,NaN,NaN,38041750.0,652230.0,56.94
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,NaN,NaN,38041750.0,652230.0,56.94
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,NaN,NaN,38041750.0,652230.0,56.94
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,NaN,NaN,38041750.0,652230.0,56.94

In [34]:
happiness2021_screen_land_df.columns

Index(['country_name', 'year_num', 'life_ladder', 'log_gdp_per_cap',
       'social_support', 'healty_life_exp', 'freedom', 'generosity',
       'percept_corrupt', 'positive_affect', 'negative_affect',
       'country_name_source', 'screen_time_avg', 'population_2020',
       'land_area_skm', 'density_skm'],
      dtype='object')

In [35]:
happiness2021_screen_land_df.dtypes

country_name            object
year_num                 int64
life_ladder            float64
log_gdp_per_cap        float64
social_support         float64
healty_life_exp        float64
freedom                float64
generosity             float64
percept_corrupt        float64
positive_affect        float64
negative_affect        float64
country_name_source     object
screen_time_avg        float64
population_2020        float64
land_area_skm          float64
density_skm            float64
dtype: object

In [36]:
happiness2021_screen_land_df.describe

<bound method NDFrame.describe of      country_name  year_num  life_ladder  log_gdp_per_cap  social_support  \
0     Afghanistan      2008        3.724            7.370           0.451
1     Afghanistan      2009        4.402            7.540           0.552
2     Afghanistan      2010        4.758            7.647           0.539
3     Afghanistan      2011        3.832            7.620           0.521
4     Afghanistan      2012        3.783            7.705           0.521
...           ...       ...          ...              ...             ...
1944     Zimbabwe      2016        3.735            7.984           0.768
1945     Zimbabwe      2017        3.638            8.016           0.754
1946     Zimbabwe      2018        3.616            8.049           0.775
1947     Zimbabwe      2019        2.694            7.950           0.759
1948     Zimbabwe      2020        3.160            7.829           0.717

      healty_life_exp  freedom  generosity  percept_corrupt  positive_affect  \
0               50.80    0.718       0.168            0.882            0.518
1               51.20    0.679       0.190            0.850            0.584
2               51.60    0.600       0.121            0.707            0.618
3               51.92    0.496       0.162            0.731            0.611
4               52.24    0.531       0.236            0.776            0.710
...               ...      ...         ...              ...              ...
1944            54.40    0.733      -0.095            0.724            0.738
1945            55.00    0.753      -0.098            0.751            0.806
1946            55.60    0.763      -0.068            0.844            0.710
1947            56.20    0.632      -0.064            0.831            0.716
1948            56.80    0.643      -0.009            0.789            0.703

      negative_affect country_name_source  screen_time_avg  population_2020  \
0               0.258                 NaN              NaN       38041750.0
1               0.237                 NaN              NaN       38041750.0
2               0.275                 NaN              NaN       38041750.0
3               0.267                 NaN              NaN       38041750.0
4               0.268                 NaN              NaN       38041750.0
...               ...                 ...              ...              ...
1944            0.209                 NaN              NaN       14645470.0
1945            0.224                 NaN              NaN       14645470.0
1946            0.212                 NaN              NaN       14645470.0
1947            0.235                 NaN              NaN       14645470.0
1948            0.346                 NaN              NaN       14645470.0

      land_area_skm  density_skm
0          652230.0        56.94
1          652230.0        56.94
2          652230.0        56.94
3          652230.0        56.94
4          652230.0        56.94
...             ...          ...
1944       390757.0        37.32
1945       390757.0        37.32
1946       390757.0        37.32
1947       390757.0        37.32
1948       390757.0        37.32

[1949 rows x 16 columns]>

In [37]:
happiness2021_screen_land_df.isna().sum().sum()

3434

In [38]:
happiness2021_screen_land_df.isna().sum()

country_name              0
year_num                  0
life_ladder               0
log_gdp_per_cap          36
social_support           13
healty_life_exp          55
freedom                  32
generosity               89
percept_corrupt         110
positive_affect          22
negative_affect          16
country_name_source    1337
screen_time_avg        1337
population_2020         129
land_area_skm           129
density_skm             129
dtype: int64

In [39]:
# Drop the null columns where all values are null
happiness2021_screen_land_df = happiness2021_screen_land_df.dropna(axis='columns', how='all')

# Drop the null rows
happiness2021_screen_land_df = happiness2021_screen_land_df.dropna()

In [40]:
happiness2021_screen_land_df.isna().sum()

country_name           0
year_num               0
life_ladder            0
log_gdp_per_cap        0
social_support         0
healty_life_exp        0
freedom                0
generosity             0
percept_corrupt        0
positive_affect        0
negative_affect        0
country_name_source    0
screen_time_avg        0
population_2020        0
land_area_skm          0
density_skm            0
dtype: int64

In [60]:
happiness2021_screen_land_df.head()

,country_name,year_num,life_ladder,log_gdp_per_cap,social_support,healty_life_exp,freedom,generosity,percept_corrupt,positive_affect,negative_affect,country_name_source,screen_time_avg,population_2020,land_area_skm,density_skm
0,Argentina,2006,6.313,9.942,0.938,66.82,0.733,-0.157,0.852,0.825,0.328,Argentina,9.38,44938710.0,2780400.0,16.26
1,Argentina,2007,6.073,10.018,0.862,66.94,0.653,-0.141,0.881,0.828,0.279,Argentina,9.38,44938710.0,2780400.0,16.26
2,Argentina,2008,5.961,10.048,0.892,67.06,0.678,-0.132,0.865,0.823,0.318,Argentina,9.38,44938710.0,2780400.0,16.26
3,Argentina,2009,6.424,9.977,0.919,67.18,0.637,-0.130,0.885,0.864,0.237,Argentina,9.38,44938710.0,2780400.0,16.26
4,Argentina,2010,6.441,10.066,0.927,67.30,0.730,-0.126,0.855,0.846,0.211,Argentina,9.38,44938710.0,2780400.0,16.26

# Random Forest, Figure out top 10 variables

In [59]:
# Create our features
X = pd.get_dummies(happiness2021_screen_land_df.drop(columns="life_ladder"))

# Create our target
y = happiness2021_screen_land_df["life_ladder"]

In [54]:
X.describe()

,year_num,log_gdp_per_cap,social_support,healty_life_exp,freedom,generosity,percept_corrupt,positive_affect,negative_affect,screen_time_avg,...,country_name_source_South Africa,country_name_source_South Korea,country_name_source_Spain,country_name_source_Sweden,country_name_source_Switzerland,country_name_source_Thailand,country_name_source_Turkey,country_name_source_UAE,country_name_source_UK,country_name_source_Vietnam
count,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,...,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000
mean,2013.344064,10.240193,0.878489,68.740282,0.801736,0.030726,0.671680,0.756913,0.248791,7.078813,...,0.028169,0.028169,0.028169,0.028169,0.020121,0.030181,0.028169,0.006036,0.028169,0.020121
std,4.108450,0.700754,0.078969,5.137140,0.124141,0.192871,0.240931,0.091068,0.067380,1.672570,...,0.165622,0.165622,0.165622,0.165622,0.140555,0.171258,0.165622,0.077536,0.165622,0.140555
min,2005.000000,8.204000,0.511000,48.640000,0.369000,-0.335000,0.035000,0.384000,0.107000,4.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2010.000000,9.832000,0.846000,65.940000,0.739000,-0.122000,0.469000,0.697000,0.200000,6.040000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2013.000000,10.488000,0.903000,71.060000,0.834000,-0.016000,0.764000,0.777000,0.236000,6.400000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2017.000000,10.773000,0.935000,72.480000,0.901000,0.163000,0.861000,0.824000,0.296000,8.370000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2020.000000,11.490000,0.987000,77.100000,0.970000,0.555000,0.974000,0.934000,0.483000,10.460000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [55]:
#convert y values to categorical values
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

In [56]:
# Check the balance of our target values
y.value_counts()

7.257    3
6.375    3
5.514    2
5.767    2
4.720    2
        ..
4.989    1
4.522    1
5.146    1
5.027    1
5.467    1
Name: life_ladder, Length: 452, dtype: int64

In [57]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({5.023: 2,
         5.959: 2,
         7.025: 1,
         7.104: 1,
         7.118: 1,
         5.984: 1,
         4.947: 1,
         6.025: 1,
         4.977: 1,
         6.962: 1,
         5.422: 1,
         5.08: 1,
         6.378: 2,
         6.199: 2,
         7.037: 1,
         7.594: 2,
         5.332: 1,
         7.28: 1,
         6.513: 1,
         6.007: 1,
         7.287: 1,
         5.709: 1,
         6.959: 1,
         7.25: 1,
         6.086: 1,
         6.547: 1,
         7.314: 1,
         7.195: 1,
         7.029: 1,
         5.845: 1,
         6.91: 1,
         6.263: 1,
         7.683: 1,
         5.914: 1,
         7.516: 1,
         5.158: 2,
         6.375: 2,
         7.56: 1,
         5.101: 1,
         6.68: 1,
         6.475: 1,
         6.138: 1,
         5.885: 1,
         6.515: 1,
         7.137: 1,
         6.449: 1,
         4.514: 1,
         7.433: 1,
         4.225: 1,
         4.989: 1,
         7.488: 1,
         6.09: 1,
         6.234: 1,
         6.268: 1,
         5.963: 1,
         5.204: 1,
         6.467: 1,
         6.995: 1,
         7.564: 1,
         7.14: 1,
         6.283: 1,
         5.793: 2,
         4.887: 1,
         5.955: 1,
         6.642: 1,
         5.467: 1,
         6.517: 1,
         5.788: 1,
         5.48: 1,
         7.144: 1,
         5.874: 1,
         6.236: 1,
         7.294: 2,
         7.37: 1,
         5.476: 1,
         5.777: 1,
         7.401: 2,
         6.607: 1,
         5.447: 1,
         6.714: 1,
         6.667: 1,
         4.815: 1,
         5.646: 1,
         6.965: 2,
         5.901: 1,
         6.947: 1,
         5.385: 1,
         6.649: 1,
         6.984: 1,
         4.669: 1,
         6.892: 1,
         4.174: 1,
         6.697: 1,
         7.196: 1,
         7.254: 1,
         7.631: 1,
         6.313: 1,
         5.223: 1,
         7.558: 1,
         7.324: 1,
         5.78: 1,
         6.918: 1,
         5.887: 1,
         7.382: 1,
         7.65: 1,
         6.111: 1,
         6.322: 1,
         6.148: 1,
         7.396: 1,
         4.72: 2,
         7.257: 2,
         5.939: 1,
         4.179: 1,
         5.58: 2,
         7.321: 1,
         7.046: 1,
         7.375: 1,
         5.186: 1,
         6.647: 1,
         7.407: 1,
         7.239: 1,
         6.802: 1,
         6.151: 1,
         6.3: 1,
         7.117: 1,
         4.522: 1,
         6.907: 1,
         7.541: 1,
         7.434: 1,
         7.509: 1,
         5.472: 1,
         6.15: 1,
         5.996: 1,
         5.911: 2,
         7.463: 1,
         6.238: 1,
         7.788: 1,
         5.84: 1,
         6.839: 1,
         6.488: 1,
         5.296: 2,
         5.148: 1,
         5.339: 1,
         5.027: 1,
         7.471: 1,
         7.111: 2,
         4.204: 1,
         6.012: 2,
         6.927: 1,
         7.693: 1,
         3.818: 1,
         7.109: 1,
         6.986: 1,
         6.272: 1,
         6.671: 1,
         7.771: 1,
         7.525: 1,
         6.291: 1,
         5.848: 1,
         7.122: 1,
         7.306: 1,
         6.531: 1,
         6.691: 1,
         6.866: 1,
         5.636: 1,
         6.518: 1,
         6.904: 1,
         6.456: 1,
         5.389: 1,
         7.499: 1,
         7.076: 1,
         6.333: 1,
         5.869: 1,
         5.923: 1,
         6.798: 2,
         6.935: 1,
         5.431: 1,
         5.173: 1,
         5.839: 1,
         4.931: 1,
         4.88: 1,
         7.289: 1,
         5.77: 1,
         5.772: 1,
         7.035: 2,
         5.34: 1,
         6.725: 1,
         5.002: 1,
         4.763: 1,
         7.332: 1,
         6.985: 1,
         7.369: 1,
         5.92: 1,
         6.057: 1,
         6.354: 1,
         7.001: 1,
         5.213: 1,
         5.309: 1,
         6.145: 1,
         6.834: 1,
         5.043: 1,
         7.971: 1,
         3.559: 1,
         7.425: 1,
         6.583: 1,
         3.249: 1,
         7.398: 1,
         6.321: 1,
         5.457: 1,
         5.127: 1,
         6.83: 1,
         7.255: 1,
         5.514: 1,
         5.136: 1,
         6.188: 1,
         7.508: 2,
         6.009: 1,
         6.69: 1,
         5.167: 1,
         5.495: 1,
         6.981: 1,
         6.35: 1,
         7.018: 1,
         6.874: 1,
         5.372: 1,
         7.353: 1,
         5.623: 2,
         5.784: 1,
         6.427: 1,
         7.502: 1,
         7.834: 1,
         7.331: 1,
         6.118: 1,
         6.837: 1,
         5.313: 1,
         5.134: 1,
         5.441: 1,
         7.048: 1,
         6.217: 1,
         7.364: 1,
         7.474: 1,
         6.095: 1,
         7.413: 1,
         6.841: 1,
         7.415: 2,
         6.41: 1,
         5.096: 1,
         7.459: 2,
         5.961: 1,
         6.772: 1,
         6.824: 1,
         6.525: 1,
         6.022: 1,
         7.443: 1,
         5.768: 1,
         7.062: 1,
         5.405: 1,
         5.098: 1,
         4.756: 1,
         6.202: 1,
         5.547: 1,
         7.007: 1,
         7.304: 1,
         5.619: 1,
         5.807: 1,
         6.758: 1,
         5.908: 1,
         6.457: 1,
         5.964: 1,
         7.418: 1,
         6.702: 1,
         4.342: 1,
         6.168: 1,
         5.409: 1,
         5.855: 1,
         3.661: 1,
         7.504: 1,
         6.358: 1,
         7.041: 1,
         6.432: 1,
         5.118: 1,
         7.514: 1,
         5.303: 1,
         7.381: 1,
         5.39: 1,
         6.445: 1,
         6.561: 1,
         7.177: 1,
         7.06: 1,
         6.191: 1,
         7.285: 1,
         4.942: 1,
         6.033: 1,
         7.515: 1,
         4.909: 1,
         5.886: 1,
         7.234: 1,
         7.245: 1,
         6.854: 1,
         7.305: 1,
         6.424: 1,
         6.949: 1,
         5.035: 1,
         7.103: 1,
         7.303: 1,
         7.473: 1,
         4.885: 1,
         4.888: 1,
         6.334: 1,
         6.55: 1,
         7.159: 1,
         6.162: 1,
         4.77: 1,
         6.073: 1,
         5.746: 1,
         7.309: 1,
         6.201: 1,
         6.242: 1,
         6.582: 1,
         5.767: 2,
         7.074: 1,
         6.464: 1,
         5.621: 1,
         6.78: 1,
         7.486: 1,
         6.928: 1,
         5.971: 1,
         6.23: 1,
         5.952: 1,
         5.428: 1,
         4.872: 1,
         5.579: 1,
         6.829: 1,
         5.368: 2,
         7.604: 1,
         7.426: 1,
         5.272: 1,
         6.666: 1,
         7.312: 1,
         6.231: 1,
         6.641: 1,
         7.359: 1,
         6.116: 1,
         6.963: 1,
         5.801: 1,
         5.88: 1})

In [61]:
X_train.shape

(372, 91)

In [58]:
# Resample the training data with the BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=10, random_state=78) 

# Creating a StandardScaler instance.
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

ValueError: Unknown label type: 'continuous'