In [16]:
!pip install psycopg2

In [ ]:
# IMPORT THE SQALCHEMY LIBRARY's CREATE_ENGINE METHOD
from sqlalchemy import create_engine
import psycopg2
import pandas.io.sql as sqlio
from sqlalchemy import create_engine

In [22]:
#Create DB engine using the following format 
# "connection_url = 'postgresql+psycopg2://user:password@localhost:5432/db_name'"

engine = create_engine('postgresql+psycopg2://postgres:password@localhost/Practice')

In [ ]:
query ="select * from NFL_Teams"

In [26]:
nfl_df=sqlio.read_sql_query(query,engine)
nfl_df.head()

       name state
0    Eagles    PA
1   Vikings    MN
2  Dolphins    FL
3   Cowboys    TX