In [1]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp37-cp37m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3

In [9]:
# IMPORT THE SQALCHEMY LIBRARY's CREATE_ENGINE METHOD
from sqlalchemy import create_engine
import psycopg2
import pandas.io.sql as sqlio
from sqlalchemy import create_engine
from config import dbpw

In [10]:
#Create DB engine using the following format 
# "connection_url = 'postgresql+psycopg2://user:password@localhost:5432/db_name'"

eng_str = f'postgresql+psycopg2://postgres:{dbpw}@localhost/HappinessProject'
engine = create_engine(eng_str)

In [11]:
query ="select * from worldhappinessreport_2021"

In [12]:
nfl_df=sqlio.read_sql_query(query,engine)
nfl_df.head()

,country_name,regional_indicator,ladder_score,stand_err,up_whisker,low_whisker,log_gdp_per_cap,social_support,healty_life_exp,freedom,generosity,percept_corrupt,ladder_score_distopia,expby_log_gdp_per_cap,expby_social_support,expby_healty_life_exp,expby_freedom,expby_generosity,expby_percept_corrupt,distopia_plus_resid
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798